body{
    background-image: url(/assets/bg.jpg);
    color: white;
    c
}
.logo img {
    width: 125px;
    margin: 50px;

}
.circle__format {
    position: absolute;
    right: 15px;
    top: 15px;
    background-color: rgb(1, 1, 1, 0.1);
    border: solid 10px;
    border-color: aqua;
    width:100px;
    height: 100px;
    border-radius: 1000px;
}

.circle__format p {
    position: absolute;
    left: 15px;
    bottom: 15%;
    font-family: 'Inter', sans-serif;
    font-size: smaller;
    color: rgba(255, 255, 255, 0.878);
}
span {
    font-size: small;
    font-weight: bold;
    text-align: center;
}
.header {
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;

}
.button_format {
    box-shadow: rgb(110, 110, 223) 3px 3px 3px;
    border: white 1px solid;
    color: whitesmoke;
    background-color: transparent;
    font-family: 'Outfit',sans-serif;
    font-weight: bold;
    font-size: 20px;
    width: 300px;
    cursor:pointer;
}
#footer__format {
    font-weight: bold;
    position:absolute;
    bottom: 10px;
    text-align: center;
}

h1 span {
    font-size: x-large;
    font-weight: bold;
}

#sp1 {
    position: absolute;
    right: 20px;
}

#sp4 {
    position: absolute;
    right: 20px;
    bottom: 45%;
}
#sp2 {
    position: absolute;
    bottom: 45%;
}
