body{
    background-image: url(/assets/bg.jpg);
    color: white;
    background-repeat: repeat-x;
    background-size:cover; 
    background-attachment: fixed;
   
}
.logo img {
    width: 125px;
    margin: 50px;

}
.circle__format {
    position: absolute;
    right: 15px;
    top: 15px;
    background-color: rgb(1, 1, 1, 0.1);
    border: solid 10px;
    border-color: aqua;
    width:100px;
    height: 100px;
    border-radius: 1000px;
}

.circle__format p {
    position: absolute;
    left: 28px;
    bottom: 14%;
    font-family: 'Inter', sans-serif;
    font-size: 8px;
    color: rgba(255, 255, 255, 0.878);
}
#time__span {
    position: relative;
    font-size: 40px;
    font-weight:bolder;
    margin-left: -2%;
}
.header__format {
    font-size:xx-large;
    font-weight: 400;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    

}
button {
    box-shadow: rgb(110, 110, 223) 3px 3px 3px;
    border: white 1px solid;
    border-radius: 25px;
    color: whitesmoke;
    background-color: transparent;
    font-family: 'Outfit',sans-serif;
    font-weight: lighter;
    font-size: 10px;
    width: 300px;
    height: 50px;
    cursor:pointer;
    display:inline-block;
    margin-left: 20px;
    margin-top: 10px;
    
   
}
    #button__container {
    /* align-items: center; */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

}
    button:hover {
    background-color: #980E7E
} 
#footer {
    font-weight: bold;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top:90%;
    /* text-align: center; */
    /* bottom: 20%; */
}

h1 span {
    font-size: xx-large;
    font-weight: bold;
}


/* #sp1 {
    position: relative;
    text-align: center;
}

#sp4 {
    position: relative;
    text-align: center;
    }
#sp2 {
    position: relative;
    text-align: center;
    } */
