
body {
    font-family: 'Outfit', sans-serif;
    background-image: url(/assetts/bg.jpg);
    background-repeat: no-repeat;
    color: white;
    position: relative;

}

.logo img {
    width: 125px;
    margin: 50px;

}

.main-container {
    max-width: 720px;
    margin:6%;
    

}

.page-title {
    font-family: 'Outfit';
    font-size: 70px;
    font-weight: 400;


}
span {
    position: relative;
    bottom: 12px;
    font-size: 60px;
    font-weight: 700;

}
.instruct-container {
    margin: 5px;
    
}
.welcome-text {
    font-family: 'Outfit';
    font-weight: 50;
    font-size:180% ;
    margin: 0px;
    display:flex;
    
}


h3 {
    color:rgb(226, 43, 159);
}
p {
    font-family: 'Inter';
    font-size: smaller;
    font-weight: 100;
}
ul {
    font-family: 'Inter';
    font-size: smaller;
}

.checkbox {
    font-size: smaller;
    
}

#promise {
    background-color: black;
    border-color: white;
    
}
.footer-button {
    
    box-shadow: rgb(234, 238, 241) 3px 3px 3px;
    border: none;
    color: #0b113b;
    background-color: #00FFFF;
    font-family : 'Outfit', sans-serif;
    font-weight: bold;
    font-size: 20px;
    width: 160px;
    padding: 10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 530px;
    cursor:pointer;
}

button:hover{
    box-shadow:rgba(110, 155, 223, 0.379) 3px 3px 3px;
}

    .footer-button:hover {
    background: #00FFFF;
 }
    .footer-button:active {
    background: #ecf0f2; 
}