
body {
    font-family: 'Outfit', sans-serif;
    background-image: url(/assetts/bg.jpg);
    background-repeat: no-repeat;
    color: white;
    position: relative;

}

.logo img {
    width: 125px;
    margin: 50px;

}

.main-container {
    max-width: 720px;
    margin:6%;
    

}

.page-title {
    font-family: 'Outfit';
    font-size: 70px;
    font-weight: 400;


}
span {
    position: relative;
    bottom: 12px;
    font-size: 60px;
    font-weight: 700;

}
.instruct-container {
    margin: 5px;
    
}
.welcome-text {
    font-family: 'Outfit';
    font-weight: 50;
    font-size:180% ;
    margin: 0px;
    display:flex;
    
}


h3 {
    color:rgb(226, 43, 159);
}

.footer-button {
    margin: 140px;
    color: rgb(1, 4, 4);
    font-size: 16px;
    line-height: 16px;
    padding: 6px;
    border-radius: 0px; 
    font-weight: normal; 
    text-decoration: none; 
    font-style: normal; 
    font-variant: normal; 
    text-transform: none; 
    background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%); 
    box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px; 
    border: 2px solid rgb(28, 110, 164); 
    display: inline-block;
}
    .footer-button:hover {
    background: #1C6EA4;
 }
    .footer-button:active {
    background: #144E75; 
}