
body {
    font-family: 'Outfit', sans-serif;
    background-image: url(/assetts/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    position: relative;
    left: 50%;
    transform: translateX(-50%);

}

.logo img {
    width: 125px;
    margin: 50px;

}

.main-container {
    max-width: 720px;
    margin:6%;
    

}

.page-title {
    font-family: 'Outfit';
    font-size: 70px;
    font-weight: 400;


}
span {
    position: relative;
    bottom: 12px;
    font-size: 60px;
    font-weight: 700;

}
.instruct-container {
    margin: 5px;
    
}
.welcome-text {
    font-family: 'Outfit';
    font-weight: 50;
    font-size:180% ;
    margin: 0px;
    display:flex;
    
}


h3 {
    color:rgb(226, 43, 159);
}
p {
    font-family: 'Inter';
    font-size: smaller;
    font-weight: 100;
}
ul {
    font-family: 'Inter';
    font-size: smaller;
}

.checkbox {
    font-size: smaller;
    
    
}

#promise {
    background-color: transparent;
    border-color: black;
    border: solid;
    
}
button {
    
    border: none;
    color: #0b113b;
    background-color: #00FFFF;
    font-family : 'Outfit';
    font-weight: bold;
    font-size: 22px;
    text-transform: uppercase;
    width: 160px;
    padding: 17px;
    position: absolute;
    left: 40%;
    transform: translateX(-50%);
    top: 530px;
    cursor:pointer;
    margin: 50px;
    }

    button:hover{
        box-shadow: rgba(0, 255, 255, 0.388) 0px 0px 25px 10px;
    }  

    